.post__container {
   width: 100%;
}
.post__wrapper {
   display: flex;
}

.post__image {
   border-radius: 5px;
   background-color: aqua;
   img {
      width: 150px;
      border-radius: 20px;
   }
}

.post__content {
   background-color: rgb(84, 110, 110);
   display: flex;
   width: 850px;
   flex-direction: column;
}
.post__content_upper {
   background-color: rgb(92, 99, 185);
   height: 20%;
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
}

.post__content_down {
   background-color: rgb(21, 255, 0);
   height: 80%;
   border-radius: 5px;
}
.post__deleteBtn {
   background-color: inherit;
   border: none; 
   svg{
	cursor: pointer;
	&:hover{
		background-color: #fff;
		background-color: aqua;
	}
   }
}
