.loginMenu__container {
   display: flex;
   font-size: 20px;
}

.loginMenu__wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.loginMenu__userLogin {
   margin-right: 30px;
   .loginMenu__userLoginBtn {
      color: #fff;
      font-size: 16px;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 40px;
      background-color: inherit;
      cursor: pointer;
      border-radius: 20px;
      border: 1px solid #c5d1ff;
      &:hover {
         background-color: #7d88fc;
      }
   }
}

.loginMenu__svg {
   display: flex;

   justify-content: center;
   width: 40px;
   height: 40px;
   margin-right: 10px;
   align-items: center;
   border-radius: 100px;
   border: 1px solid #c5d1ff;
   cursor: pointer;
   &:hover {
      background-color: #7d88fc;
   }
}
