.header__container {
   grid-area: h;
}

.header__wrapper {
   height: 100%;
   display: flex;
   font-size: 50px;
   font-weight: 500;
   justify-content: center;
   align-items: center;
   background-color: pink;
}
