.header__container {
   grid-area: h;
}

.header__wrapper {
	
   height: 100%;
   display: flex;
   font-size: 50px;
   font-weight: 500;
   justify-content: space-between;
   align-items: center;
   background-color:#7dc1c4;
 
   
}
