.myProfile__container {
   display: flex;
   flex-direction: column;
   width: 1000px;
}

.myProfile__upperContent {
   display: flex;
}

.profImg {
   margin: 25px 25px 25px 25px;

   img {
      width: 200px;
      border-radius: 50%;
   }
}

.profInfo {
   display: flex;
   flex: 1;
   justify-content: space-between;
   margin-top: 30px;

   .profInfoName {
      font-weight: normal;
      font-size: 20px;
   }
}

.myProfile__bottomContent {
   display: flex;
   flex-direction: column;
}

.myProfile__functions {
}

.posts__wrapper {
   display: flex;
   flex-direction: column;
}

.posts__area {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.postArea {
   margin-left: 50px;
   width: 100%;
   padding: 10px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   resize: none;
}

.postBtn {
   background-color: #c5d1ff;
   color: #fff;
   padding: 10px 15px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
   &:hover {
      background-color: #7d88fc;
   }
}
.posts__added {
}
.addedFriends {
   border-radius: 5px;
   display: flex;
   background-color: #dfe6ff;
}

.addedProfileFriendsPopup {
   display: inline-flex;
   img {
      height: 70px;
      width: 70px;
      justify-content: center;
      align-items: center;
   }
   display: none;
}
.myProfileFriendsShowed {
   display: flex;
   justify-content: space-between;
   img {
      height: 70px;
      width: 70px;
      margin: 0px 20px 0px 20px;
      justify-content: center;
      align-items: center;
   }
   div {
      justify-content: center;
      align-items: center;
      font-size: 15px;
   }
}
.friends {
   width: 350px;
   margin: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
