.frineds__wrapper {
   display: flex;
   flex-direction: column;
}

.possiblefriends {
   font-size: 20px;
   color: #fff;
   margin: 20px 0px 0px 70px;
   padding: 10px;
}
.sort {
   display: flex;
   flex-direction: column;
}
