.app-wrapper {
   position: relative;
   margin: 0 auto;
   width: 1500px;
   display: grid;

   grid-template-rows: 60px 1fr;

   grid-template-columns: 2fr 10fr;

   grid-template-areas:
      'h h'
      'n c';
   .popup__wrapper {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      pointer-events: none;

      .app-container__popup {
		pointer-events: none;
         opacity: 0;
      }
      .app-container__popup__active {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 100%;
         height: 100%;
         opacity: 1;
         background-color: rgba($color: #000000, $alpha: 0.8);
	    pointer-events: all;
      }
   }
}

.app-wrapper-content {
   border-radius: 10px;
   background: #f7f7f7;
   grid-area: c;
}
