body {
   /* background-color: #acacac5d; */
   box-sizing: border-box;
   margin: 0 auto;
   font-family: 'Nunito', sans-serif;
   font-family: 'Open Sans', sans-serif;
  
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
a{
	text-decoration: none;
	
}
